#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    servo: servo {
        compatible = "pwm-servo";
        /* SG90 micro servo, empirically calibrated (datasheet range: ~500-2400us) */
        pwms = <&ledc0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(500)>;
        max-pulse = <PWM_USEC(2400)>;
    };

    aliases {
        wakeup-pins = &wakeup_pins;
		stepper-driver = &tmc2209;
		stepper-ctrl = &step_dir_motion_control;
	};

    gpio_keys {
		compatible = "gpio-keys";

		wakeup_pins: wakeup_pins {
			gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW | GPIO_INT_WAKEUP)>;
		};
	};

	tmc2209: stepper-driver {
		compatible = "adi,tmc2209";
		en-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
		m0-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		m1-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		micro-step-res = <32>;
	};

	step_dir_motion_control: motion-controller {
		compatible = "zephyr,gpio-step-dir-stepper-ctrl";
		step-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		dir-gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		invert-direction;
		stepper-driver = <&tmc2209>;
	};
};

&spi2 {
    status = "disabled";
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 100 kHz or use I2C_BITRATE_FAST for 400kHz */

    ds3231: ds3231@68 {
        compatible = "maxim,ds3231-mfd";
        reg = <0x68>;
        status = "okay";

        ds3231_rtc: ds3231_rtc {
            compatible = "maxim,ds3231-rtc";
            status = "okay";
            isw-gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            freq-32khz-gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO3>;
            output-enable;
        };
    };
};

&ledc0 {
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel0@0 {
        reg = <0x0>;
        timer = <0>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
            compatible = "zephyr,cdc-acm-uart";
    };
};